node_modules/
build/
dist/
.vercel/
.pnp/
.pnp.js
coverage/



# OS/IDE-specific files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.idea/
.vscode/
*.swp

# Lock files
package-lock.json

# Other
*.cache